body {
  color: darkslategrey;
  background-color: lightblue;
}

.code {
  white-space: pre;
  font-family: monospace;
}

.info {
  color: darkslategrey;
  background-color: lightyellow;
}

.success {
  color: darkslategrey;
  background-color: lightgreen;
}

.error {
  color: red;
  background-color: lightpink;
}
