body {
  color: darkslategrey;
  background-color: lightblue;
}

.code {
  white-space: pre;
  font-family: monospace;
}

.editor {
  background: url(../image/lines.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-top: 10px;
  border-color: #ccc;
  background-color: blanchedalmond;
  font-size: 14px;
}

.info {
  color: darkslategrey;
  background-color: lightyellow;
}

.success {
  color: darkslategrey;
  background-color: lightgreen;
}

.error {
  color: red;
  background-color: lightpink;
}
